STACK_VERSION=8.18.0 # version of elasticsearch
CLUSTER_NAME=elastic # name of the cluster
LICENSE=basic # license for elasticsearch
ES_MEM_LIMIT=32g # memory limit for elasticsearch
ES_PORT=9200 # port for elasticsearch
ES_CPU_LIMIT=8 # cpu limit for elasticsearch
KIBANA_PORT=5601 # port for kibana
KB_MEM_LIMIT=8g # memory limit for kibana
ENCRYPTION_KEY=<random 64 characters> # encryption key for elasticsearch
ELASTIC_PASSWORD=password # password for elastic user
KIBANA_PASSWORD=password # password for kibana user

# The host IP address accessible from the Docker network
HOST_IP=192.168.1.100 # host ip address accessible from the docker network

# Fleet Server and APM Server ports
FLEET_PORT=8220 # port for fleet server